
<%- include('../partials/header.ejs')%>
<article class="newTradesMain"  >
		<div class="newTrades">
      <h1>Make changes to the trade <%= trade.name%></h1>
			<!-- <div class="container"> -->
  <form action="/trades/<%= trade._id%>?_method=PUT"  method = 'POST' >	
  <div class="eachRow">
      <div class="firstColumn">
        <label for="category">Category</label>
      </div>
      <div class="secondColumn">
        <!-- work around patch to restrict user from writing categories with different case, aka car, Car, cAr was different now after restriction  its just CAR, allows to remove duplicate values -->
        <input type="text" id="category" name="category" placeholder="Category" required value="<%= trade.category%>"  oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);">
      </div>
  </div>	
  
  <div class="eachRow">
    <div class="firstColumn">
      <label for="name">Product Name</label>
    </div>
    <div class="secondColumn">
      <input type="text" id="name" name="name" placeholder="Product Name" value="<%= trade.name%>" required>
    </div>
  </div>
  <div class="eachRow">
    <div class="firstColumn">
      <label for="author">Author</label>
    </div>
    <div class="secondColumn">
      <input type="text" id="author" name="author" placeholder="Author" value="<%= trade.author %>" required>
    </div>
  </div>
 
   <div class="eachRow">
    <div class="firstColumn">
      <label for="cost">Cost</label>
    </div>
    <div class="secondColumn">
      <input type="number" id="cost" name="cost" step ="0.01" placeholder="Cost" value="<%= trade.cost%>"  required  min="0">
    </div>
  </div>

  
  <div class="eachRow">
    <div class="firstColumn">
      <label for="image">image URL</label>
    </div>
    <div class="secondColumn">
      <input type="url" id="image" name="image" placeholder="Image URL" required value="<%= trade.image%>" required>
    </div>
  </div>

  <div class="eachRow">
    <div class="firstColumn">
      <label for="condition">condition</label>
    </div>
    <div class="secondColumn">
      <input type="text" id="condition" name="condition" placeholder="Condition" value="<%= trade.condition%>" required>
    </div>
  </div>

  <div class="eachRow">
    <div class="firstColumn">
      <label for="company">company</label>
    </div>
    <div class="secondColumn">
      <input type="text" id="company" name="company" placeholder="Company" value="<%= trade.company%>" required>
    </div>
  </div>
  <div class="eachRow">
      <div class="firstColumn">
        <label for="details">Details</label>
      </div>
      <div class="secondColumn">
        <textarea id="details" name="details" placeholder="Product Description" required minlength="10"> <%= trade.details %> </textarea>
      </div>
  </div>
  <br>
  <div class="eachRow">
    <input type="submit" value="Update Table"> 
  </div>
  </form>
	</div>
		
	</article>
<br>
<br>
<br>
<%- include('../partials/footer.ejs')%>

